

ul{
	list-style-type: none;
	padding: 0;
	
	
      

}

nav{
	height: 50px;
	width: 100%;
	padding-left: 0px;
		background-color: grey;

}

li{
	height: 20px;
	display: inline-block;
	border: 1px solid red;
	text-align: center;
	padding: 14px 16px;


}

li a{
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#Feature{
text-align: center;
background-color: grey;
height: 60px;
width: 100%;
}

#textFeature{
	
	text-align: center;
    padding: 14px 16px;
}

.Column{
	width: 30%;
	display: inline-block;
	text-align: center;
	background-color: grey;
	padding: 14px 16px;


}

#footer{

text-align: center;
background-color: grey;
height: 60px;
width: 100%;
padding: 14px 16px;
}

.Columnheader {
	width: 30%;
	display: inline-block;
	text-align: center;
	
	padding: 14px 16px;}


#container{
	background-color: lightblue;
}

